@font-face {
  font-family: "DeterminationSansWeb";
  src: url('../fonts/DeterminationSansWebRegular-369X.ttf');
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "DeterminationSansWeb";
  background: linear-gradient(0deg, #f4f1f4 0%, #f5b6e8 100%);
  background-image: url("../img/fondo_purplestars.gif");
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  color: rgb(59, 5, 50);
  /* cursor: url("../img/arrow.cur"), auto; */
}

* {
  padding: 0px;
  margin: 0px;
}

button:focus {
  outline: none;
}

.window {
  width: 500px;
  background: #C0C0C0;
  border-width: 1px;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  border-style: solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px;
  z-index: 0;
}

#oneko {
  z-index: -10;
}

div.title {
  font-family: 'MS Reference Sans Serif';
  height: 18px;
  width: 100%;
  background: #000080;
  color: #FFF;
}

img.title {
  float: left;
}

p.title {
  margin: 2px 0 0 1px;
  float: left;
  font-weight: bold;
  font-size: 11px;
}

.title button {
  /*position:absolute;
    right:3px;
    top:3px;*/
  margin: 2px 2px 2px 0;
  float: right;
  width: 14px;
  height: 13.5px;
  background: #C0C0C0;
  border-width: 1px;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding: 0;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
}

.window-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 0 25px 0;
  height: 100%;
  width: 100%;

}

#window-h1 {
  margin: 2px 0 0 0;
}

div.window-body {
  text-align: center;
}

div.window-body p {
  font-size: 18px;
  padding: 5px 5px;
}

div.window-body button {
  font-size: 11px;
  outline: 1px solid #000000;
  background: #C0C0C0;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding: 4px 10px;
  margin: 20px auto 3px;
  display: block;
  position: relative;
  bottom: 0px;
}

body div {
  color: black;
}

#win {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(0, 128, 131);
}

#taskbar {
  height: 26px;
  background-color: rgb(192, 192, 192);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: ridge 2px white;
  font-family: 'MS Reference Sans Serif';
}

.task {
  float: left;
  top: 1px;
  bottom: 1px;
  left: 70px;
  font-weight: bolder;
  font-size: 12px;
  font-family: 'MS Reference Sans Serif';
  margin: 2px 5px;
  padding: 2px 10px;
  border: inset 2px;
}

.task.active {
  border: inset 2px;
}

#start {
  background: url("../img/win95icon.png") left center no-repeat;
  background-size: 17px 15px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: bolder;
  font-size: 12px;
  float: left;
  width: 52px;
  height: 21px;
  padding: 1px 2px;
  margin-left: 2px;
  cursor: default;
  user-select: none;
}


.startRest {
  border-top: ridge 2px white;
  border-left: ridge 2px white;
  border-bottom: ridge 2px black;
  border-right: ridge 2px black;
}


#desktop {
  height: calc(100% - 26px);
  background-color: transparent;
  width: 100%;
  padding: 10px;
}

.desktopIcon {
  margin: 2px 7px;
  display: block;
  height: 68px;
  width: 50px;
  text-align: center;
  font-size: 10px;
  color: white;
}

#mycomputer {
  background-color: transparent;
}

.divider {
  height: 1px;
  border-top: ridge 1px white;
  border-bottom: ridge 1px grey;
  margin: 2px;
}

.desktop {
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  font-family: 'MS Reference Sans Serif';
  text-shadow: 1px 1px #000000;
  position: relative;
}

.icons {
  list-style-type: none;
  padding: 0;
}

.icons>li {
  display: inline-block;
  width: 50px;
  margin: 10px;
  text-align: center;
}

.icons>li>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  width: 37px;
  height: 35px;
}

a:link {
  color: #4600F0
}

a:visited {
  color: #4600F0
}

.desktop a:visited {
  color: rgb(255, 255, 255);
}

.desktop li:hover {
  text-decoration: underline;

}

a:hover,
a:focus {
  text-decoration: underline;
  color:red;
}

input[type="submit"] {
  padding: 5px 5px;
  background-color: #4600F0;
  color: white;
  text-shadow: 1px 1px #000000;
  border: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.awesome {

  font-style: italic;

  width: 100%;

  margin: 0 auto;
  text-align: center;

  color: #313131;
  font-size: 45px;
  font-weight: bold;
  animation: colorchange 20s infinite alternate;
  -webkit-animation: colorchange 20s infinite alternate;


}

@keyframes colorchange {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}