:root {
  --green: rgb(45, 228, 45);
  --green-lighter: rgba(45, 228, 45, 0.2);
  --green-light: rgba(45, 228, 45, 0.4);
  --pink-shadow: rgb(255, 161, 194);
  --background-img: url("../img/fondo_purplestars.gif");
}

@font-face {
  font-family: DeterminationSansWeb;
  src: url('../fonts/DeterminationSansWebRegular-369X.ttf');
}

@font-face {
  font-family: DeathMohawk;
  src: url('../fonts/DeathMohawkPersonalUseRegular-8MlEM.otf');
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: DeterminationSansWeb, sans-serif;
  /* old gradient - background: linear-gradient(0deg, #f4f1f4 0%, #f5b6e8 100%); */
  background-image: var(--background-img);
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* color: rgb(59, 5, 50); */
  /* cursor: url("../img/arrow.cur"), auto; */
}

.cloud {
  width: auto;
  position: absolute;
  right: 25px;
  top: 100px;
  animation: cloud-move 70s infinite alternate linear;
}

.cloud img {
  width: 350px;
}

.cloud-2 {
  width: auto;
  position: fixed;
  left: 25px;
  bottom: 500px;
  animation: cloud-move-2 70s infinite alternate linear;
}

.cloud-2 img {
  width: 300px;
}

@keyframes cloud-move {
  
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-100vw, 0);
  }

}

@keyframes cloud-move-2 {

  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100vw, 0);
  }

}

.logo-text {
  font-family: DeathMohawk, sans-serif;
  font-size: 100px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px var(--pink-shadow);
  height: 110px;
}


.logo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-div img {
  padding: 0 10px;
}

.center-image {
  border: 3.5px ridge rgba(37, 0, 50, 0.5);
  margin-bottom: 5px;
  /* border-color: rgb(255, 161, 194); */
}

#oneko {
  z-index: -10;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  list-style-type: none;
  height: 30px;
  width: 100%;
  /* background-color: transparent; */
  padding-top: 5px;
  /* border-bottom: solid 1px pink; */
}

nav a {
  /* font-family: "DeathMohawk"; */
  font-size: 1.1em;
  color: #000;
  text-decoration: none;
}

.desktop a {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  text-decoration: none;
  /* width: 75px;
  height: 75px; */
}

a:link {
  color: #4600F0
}

a:hover,
a:focus {
  text-decoration: underline;
  color: red;
}

nav a:visited, nav a:link {
  font-size: 1.1em;
  color: #000;
  text-decoration: none;
}


.container {
  background: #222;
  position: relative;
  resize: both;
  overflow: auto;
  width: 850px;
  height: 550px;
  font-size: 1.5em;
  background-image: url('../img/pink-background.gif');
}

.container-work {
  width: 80%;
  height: 69%;
  top: 0
}

.browser-frame {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  padding: 132px 0 55px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
  border-image-slice: 171 57 57 515 fill;
}

.browser-frame::before {
  content: "";
  position: absolute;
  inset: 0;
  border-image: url('../img/netscape.png');
  border-image-slice: 171 57 57 515 fill;
  border-image-width: 170px 56px 57px 515px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: repeat repeat;
  pointer-events: none;
}

header {
  width: 100%;
  text-shadow: 0.75px 0.75px var(--pink-shadow);
  text-transform: uppercase;
}

.main-content-wrapper {
  width: 100%;
  height: 70%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px 17px 0;
  background-size: auto;
  text-align: center;
  text-shadow: 0.75px 0.75px var(--pink-shadow);
  color: rgb(0, 0, 0);
  height: 100%;
  text-transform: uppercase;
  overflow: auto;
}

/* start grid fallback */
.grid-item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid-projects {
    box-sizing: border-box;
    margin: 0 2vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    border: solid 3px var(--green);
    background-color: var(--green-light);
    width: auto;
    min-height: auto;
    padding: 15px;
  }

  .fakeimg {
    border: solid 2px var(--green);
    width: 95%;
  }

  .grid-item h2 {
    font-size: 1.75rem;
    margin-bottom: 0.25rem;
  }

  .grid-title {
    /* font-weight: bold; */
    font-size: 1.25em;
    margin-bottom: 0.25em;
  }

  .grid-description {
    font-size: 1.5rem;
  }
}

.project-links {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.project-links a {
  text-decoration: none;
}

.project-links span {
  color: rgb(150, 0, 0);
  text-shadow: 2px 2px pink;
}

button {
  width: 100px;
  height: 50px;
}

h1 {
  margin: 0;
}

.h1-about {
  margin-top: 20px;
}

.h1-work {
  margin: 15px 0 10px;
}

.h1-contact {
  margin: 25px 0 15px;
}

.p-about {
  padding: 0 20px;
}

.contact-info-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.form-div {
  /* width: 400px; */
  padding: 0 auto;
}

.contact-info-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  margin: 0 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 1rem;
}

label {
  margin: 0.35rem 0;
}

input {
  margin-bottom: 0.35rem;
  padding: 0.1rem 0.15rem;
  border: 1px solid black;
  width: 300px;
}

textarea {
  height: 75px;
  margin-bottom: 0.75rem;
  padding: 0.1rem 0.15rem;
  border: 1px solid black;
  width: 300px;
}

.form-element {
  padding: 2px;
}

table,
td {
  margin: 20px auto;
  border: solid 2px var(--green);
  background-color: var(--green-lighter);
  padding: 5px;
  font-weight: 100;
  font-size: 0.9em;
}

td {
  padding: 5px 55px;
}

thead,
th {
  font-weight: 100;
}

.drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 107px;
  cursor: move;
}

.resize-handle {
  position: absolute;
  inset: auto, 0, 0, auto !important;
  margin-top: -22px;
  margin-left: -22px;
  width: 20px;
  height: 20px;
  cursor: nw-resize !important;
}

.taskbar {
  height: 26px;
  background-color: rgb(192, 192, 192);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: ridge 2px white;
  font-family: 'MS Reference Sans Serif', sans-serif;
}

.task {
  float: left;
  top: 1px;
  bottom: 1px;
  left: 70px;
  font-weight: bolder;
  font-size: 12px;
  font-family: 'MS Reference Sans Serif', sans-serif;
  margin: 2px 5px;
  padding: 2px 10px;
  border: inset 2px;
}

.task.active {
  border: inset 2px;
}

#start {
  background: url("../img/win95icon.png") left center no-repeat;
  background-size: 17px 15px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: bolder;
  font-size: 12px;
  float: left;
  width: 52px;
  height: 21px;
  padding: 1px 2px;
  margin-left: 2px;
  cursor: default;
  user-select: none;
}

.start-rest {
  border-top: ridge 2px white;
  border-left: ridge 2px white;
  border-bottom: ridge 2px black;
  border-right: ridge 2px black;
}

.divider {
  height: 1px;
  border-top: ridge 1px white;
  border-bottom: ridge 1px grey;
  margin: 2px;
}

.desktop {
  display: block;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; */
  padding: 12.5px 10px;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  font-family: 'MS Reference Sans Serif', sans-serif;
  text-shadow: 1px 1px #000;
  position: relative;
  width: 75px;
  height: auto;
}

.mobile-header img {
  height: 100%;
  width: 100%;
  vertical-align: top;
  object-fit: contain;
}

.icons {
  list-style-type: none;
  /* padding: 0; */
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* margin: 10px; */
  text-align: center;
}

.icons img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  width: 37px;
  height: 35px;
}

a:visited {
  color: #000;
}

.desktop a:visited {
  color: rgb(255, 255, 255);
}

.desktop a:hover {
  text-decoration: underline;

}

input[type="submit"] {
  padding: 5px;
  background-color: #4600F0;
  color: white;
  text-shadow: 1px 1px #000;
  border: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: 0.005s;
  width: 125px;
}

input[type="submit"]:hover {
  /* transform: scale(1.1); */
  filter: drop-shadow(0 2px 1px red) invert(75%);
  border-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

input[type="submit"]:active {
  background-color: red;
}

.awesome {
  font-style: italic;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #313131;
  font-size: 45px;
  font-weight: bold;
  animation: colorchange 20s infinite alternate;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes colorchange {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }

  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}

.wobble span {
  animation-name: wobb;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 400ms;
  display: inline-block;
  transform: translateY(0);
}

@keyframes wobb {

  0%,
  100% {
    transform: translateY(0)
  }

  25% {
    transform: translateY(-3px)
  }

  75% {
    transform: translateY(3px)
  }
}

/* Pulse Grow */
@keyframes hvr-pulse-grow {
  to {
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
  text-decoration: underline;
  animation-name: hvr-pulse-grow;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.mobile {
  display: none;
}

.desktop-icons {
  display: block;
}

.size-warning {
  display: none;
}

footer {
  margin-top: 20px;
  padding-bottom: 20px;
}

footer img {
  cursor: pointer;
}

/* media queries */
/* screen too small warning */
@media screen and (width <= 325px), (height <= 330px) {

  /* .body {
    background-image: none;
  } */

  .container,
  .browser-frame,
  .draggable,
  .taskbar,
  .desktop-icons {
    display: none;
  }

  .size-warning {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--background-img);
    width: 100%;
    height: 100%;
  }

  .size-warning p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px var(--pink-shadow);
  }
}

/* small mobile */
@media (326px <= width <= 425px) and (330px <= height) {

  table,
  td {
    font-size: 4.5vw;
  }

  td {
    padding: 5px;
  }

  .logo-div img {
    padding: 0 5vw;
  }

  nav {
    padding: 30px 10px;
  }

  nav a {
    font-size: 5.5vw !important;
  }

  .grid-projects {
    grid-template-columns: 1fr !important;
  }

}

/* medium mobile */
@media (width <= 632px) and (330px <= height) {

  .container {
    position: relative;
    background: none;
    resize: none;
    overflow: auto;
    width: auto;
    height: auto !important;
    font-size: 1.5em;
  }

  main {
    box-sizing: border-box;
    font-size: 23px;
    width: 100%;
    object-fit: contain;
    overflow: auto;
    padding: 0;
    background-image: none;
    /* border: 5px solid black; */
  }

  .main-content-wrapper{
    height: auto;
    padding: 10px;
    /* overflow-clip-margin: border-box; */

  }

  .cloud,
  .cloud-2, .desktop-icons, .taskbar, .drag-handle {
    display: none;
  }

  table,
  td {
    font-size: 3.8vw;
  }

  td {
    padding: 5px;
  }

  .logo-text span {
    display: none;
  }

  .logo-text::after {
    content: 'Simeon';
  }

  .logo-div img {
    padding: 0 5vw;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
  }

  nav {
    padding: 30px 10px;
  }

  /* nav a {
    font-size: 26.4px !important
  } */

  .grid-projects {
    grid-template-columns: 1fr !important;
  }

  body {
    background-image: url('../img/pink-background.gif');
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .container-work {
    width: auto;
    height: auto;
    top: 0
  }
  
  .browser-frame {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    padding: 0;
    overflow: hidden;
    box-shadow: none;
    border-image-slice: 0;
  }
  
  .browser-frame::before {
    content: "";
    position: relative;
    inset: 0;
    border-image: none;
    pointer-events: none;
  }

  .contact-info-wrapper {
    flex-direction: column;
  }

  .form-div {
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  form {
    margin: 0 auto;
  }
  

}

/* medium tablet/desktop */
@media (633px <= width <= 850px) {
  .container {
    width: 100%;
  }

  .body {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

/* landscape mode */
@media (width >= 633px) and (330px <= height <= 525px) {

  .cloud,
  .cloud-2, .desktop-icons, .taskbar, .drag-handle {
    display: none;
  }

  .h1-about {
    margin-top: 55px;
  }

  .logo-text span {
    display: none;
  }

  .logo-text::after {
    content: 'Simeon';
  }

  .logo-div img {
    padding: 0 5vw;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0 5px 0;
  }

  nav {
    width: 830px;
    padding-top: 5px;
  }

  nav a {
    font-size: 26px !important;
  }

  .logo-div {
    margin-top: 40px;
  }

  body {
    background-image: url('../img/pink-background.gif');
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .container {
    background: none;
    position: relative;
    resize: none;
    overflow: auto;
    width: auto;
    height: auto !important;
    font-size: 1.5em;
  }
  
  .container-work {
    width: auto;
    height: auto;
    top: 0
  }
  
  .browser-frame {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    padding: 0;
    overflow: auto;
    box-shadow: none;
    border-image-slice: 0;
  }
  
  .browser-frame::before {
    content: "";
    position: relative;
    inset: 0;
    border-image: none;
    pointer-events: none;
  }

  .main-content-wrapper{
    padding: 10px 0 10px 0;
  }  

  main {
    box-sizing: border-box;
    font-size: 23px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0;
    background-image: none;
    /* border: 5px solid black; */
  }

}

/* grid adjustments */
@media (width <= 1450px) {
  .grid-projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 1100px) {
  .grid-projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width >= 851px) {

  #nav-work {
    width: 830px;
  }
}