{
  "extends": "stylelint-config-standard",
  "rules": {
    "comment-empty-line-before": null,
    "rule-empty-line-before": null,
    "color-function-notation": null,
    "alpha-value-notation": null,
    "property-no-vendor-prefix": null,
    "at-rule-no-vendor-prefix": null,
    "value-no-vendor-prefix": null
  }
}